<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="test-pat" value="https://nuget.pkg.github.com/arnenator/index.json" />
    <add key="test-arne" value="https://nuget.pkg.github.com/Arne-Labs/index.json" />
  </packageSources>

  <packageSourceMapping>
    <packageSource key="NuGet">
      <package pattern="*" />
    </packageSource>
    <packageSource key="test-pat">
      <package pattern="MDI.*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
